@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rajdhani');

* {
	font-family: 'Poiret One', cursive;

}
.negro{
  background-color: black;
  color:white;
}
.blanco {
	background-color: white;
	color:black;
}

.yellow{
  background-color: rgba(183, 248, 255, 0.48);
  color:black;
}

td{
  width: 40px;
  height: 40px;
}


 button{
   font-size:10px;
   font-family:Verdana,Helvetica;
   font-weight:bold;
   color:white;
   background:#638cb5; 
   border:0px;
   height:19px;
}